<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="shortcut icon" href="/ico/ico.ico" type="image/x-icon">
    <title>Editar</title>
  </head>
  <body>
    <header id="header_container" class="header_container"></header>
    <h1 class="title_web">Editar</h1>
    <form action="/bills/update/<%= bills[0]['id'] %>" method="POST">
      <input type="text" name="bills" value="<%= bills[0]['bills'] %>" />
      <input type="number" name="price" value="<%= bills[0]['price'] %>" />
      <input type="date" name="date" value="<%= bills[0]['date'] %>" />
      <input type="submit" value="update" />
    </form>
    <footer class="footer_container" id="footer_container"></footer>
    <script src="/js/index.js"></script>
  </body>
</html>
