.gridBills{
  display: grid;
  grid-template-columns: 5% 45% 20% 20% 5% 5%;
  grid-template-rows: auto;
  justify-content: center;
  align-content: center;
}
.billsDataDate{
  background-color: var(--colorBlanco);
  display: grid;
  grid-template-columns: auto;
  width: 100%;
  margin: 0 auto;
}
.billsDataDate .titles_container{
  display: grid;
  text-align: center;
}
.billsDataDate .titles_container .title{
  padding: .5em;
  border: 1px solid var(--colorGris);
  background-color: var(--colorAzul);
  color: var(--colorBlanco);
}
.billsDataDate .data_container{
  grid-template-rows: auto;
}
.billsDataDate .data_container .data{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-content: baseline ;
  border: 1px solid var(--colorGris);
  background-color: var(--colorBlanco);
  color: rgb(0, 0, 0);
}
.billsDataDate .data_container .data .btn-delete{
  margin: 0;
  color: var(--colorBlanco);
  text-decoration: none;
  cursor: pointer;
  background-color: var(--colorRojo);
  width: 100%;
}
.billsDataDate .data_container .data .btn-update{
  margin: 0;
  color: var(--colorBlanco);
  text-decoration: none;
  cursor: pointer;
  background-color: var(--colorAzul);
  width: 100%;
}
.billsDataDate .data_container .data .img_icon{
  padding: 0;
  margin: 0;
  width: 50px;
  align-content: center;
}

