body{
  background-color: red;
}

.loginForm{
  background-color: dodgerblue;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  color: white;
  padding: .5em;
  position: absolute;
  left: calc(50% - 200px);
  top: calc(50% - 150px);
}
.loginForm h1{
  text-align: center;
  width: 100%;
}
.loginForm label{
  width: 100%;
  padding: .5em;
  color: white;
}
